body {
  background-image: url("/imeges/tile.jpg");  
}

h1 {
  font-family: "Single Day", cursive;
  font-size: 4rem;
  text-align: center;
}

form {
  background-image: url("/imeges/formbg.jpg");
  width: 50vw;
  margin: auto;
}

.button {
  margin-bottom: 1rem;
}

input {
  text-align: center;
}

/* tasks */
.sticky-note {
  background-image: url("/imeges/notebg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}

.task-header {
  justify-content: flex-end;
}

.task-content {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 50%;
  height: 60%;

  word-wrap: break-word;
  overflow-y:scroll;
  scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.task-content::-webkit-scrollbar {
  display: none;
}

#myTasks{
  margin-left:auto ;
  margin-right: auto;
}

.delete-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 80px;
  opacity: 0;
}

.sticky-note:hover .delete-button {
  opacity: 1;
}

.task-time {
  position: absolute;
  bottom: 5px;
  left: 5px;
}



.fade-in-animation {
  animation: fade-in 2s ;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}


/* Animation */
/* Keyframe animation for fade-in effect */
@keyframes fade-in {
  from {
    opacity: 0;
    /* Add any other initial styles for the animation */
  }
  to {
    opacity: 1;
    /* Add any other final styles for the animation */
  }
}
