body {
  background-image: url("/imeges/tile.jpg");
}

h1 {
  font-family: "Single Day", cursive;
  font-size: 4rem;
  text-align: center;
}

form {
  background-image: url("/imeges/formbg.jpg");
  width: 50vw;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
input {
  text-align: center;
  margin-bottom: 12px;
  height: 30px;
}
.button {
  margin-bottom: 10px;
  line-height: 1;
}

/* TASKS */
.sticky-note {
  background-image: url("/imeges/notebg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
 
}

.task-header {
  justify-content: flex-end;
}

.task-content {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 50%;
  height: 60%;
  word-wrap: break-word;
}

#myTasks {
  margin-left: 55px;
}

.delete-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 80px;
  opacity: 0;
}

.sticky-note:hover .delete-button {
  opacity: 1;
}

.task-time {
  position: absolute;
  bottom: 5px;
  left: 5px;
}


/* do i need to change to transitioning?  */
.fade-in-animation {
   animation: fade-in 1s;
 
}

/*  animation for fade-in effect */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 1200px) {
  .sticky-note {
    margin-left: auto;
    margin-right: auto;
  }
}
